@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.about-line {
  display: block;
  margin: auto;
  width: 3rem;
  height: 3px;
  background: #3498db;
}

.link-container {
  width: 3rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: .5rem .5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.link-container:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.about-container {
  font-family: serif;
  text-align: center;
  overflow: hidden;
}

.about-container .about-title {
  text-align: center;
  padding: 30px;
  background-color: black;
}

.about-container .about-title h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: white;
  font-size: 40px;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1rem;
  width: 90%;
  margin: 3rem auto;
}

.profile-container .photo-container img {
  width: 12rem;
  height: 12rem;
  border-radius: 100px;
  background-color: black;
}

.profile-container .profile-detail {
  align-items: center;
  justify-content: center;
}

.profile-container .profile-detail p {
  background-color: #F5F5F5;
  color: #868686;
  width: 80%;
  margin: 0 auto;
}

.profile-container .profile-detail .career-link {
  background-color: #3498db;
  margin-top: 1rem;
  height: 1.5rem;
  color: white;
}

.image-relation {
  display: grid;
  grid-template-columns: 1fr;
}

.image-relation img {
  margin: 0 auto;
  padding-left: 4rem;
}

.service-title {
  color: white;
  background-color: #333;
}

.services-container {
  margin: 1rem 0 1rem 0;
}

.services-container .service {
  border: solid 1px white;
  padding: 0 1rem;
  width: 80%;
  margin: 1rem auto;
  background-color: #EEF2F4;
}

.services-container .service .icon {
  width: 60%;
  margin: 0 auto;
}

.services-container .fas {
  font-size: 4rem;
  color: #CF382A;
  padding: 2rem 1rem;
}

.services-container .service-detail {
  padding: 1rem 2rem;
}

.services-container h3, .services-container p {
  color: grey;
}

.career-container {
  padding-top: 2rem;
  text-align: center;
  justify-content: center;
  color: #868686;
}

.career-container h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #333;
  font-size: 40px;
}

.career-container h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: black;
}

.career-container p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .profile-container {
    display: grid;
    grid-template-columns: 15rem 1fr;
  }
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    margin: 2rem 1rem;
  }
  .services-container .service {
    width: 100%;
    margin: 1rem auto;
  }
}

.carousel {
  padding-top: 2.5rem;
  overflow: scroll;
}

.carousel-contaner {
  overflow: scroll;
}

.top-title {
  background-color: black;
  height: 20vh;
  text-align: center;
  justify-items: center;
  padding-top: 10px;
}

.top-title h1 {
  color: white;
}

.sub-title {
  text-align: center;
  padding: 2rem 3rem;
}

.card {
  margin-bottom: 10rem;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .burger {
    display: block;
  }
  .line {
    width: 25px;
    height: 3px;
    background-color: pink;
    margin: 5px;
  }
  .contact {
    overflow: hidden;
  }
  .info-container {
    flex-direction: column;
  }
  .info-container .info-box {
    flex-direction: column;
    align-items: center;
  }
  .info-container .info-box h3 {
    text-align: center;
  }
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4D76A4;
  background-size: cover;
}

.contact .content {
  max-width: 800px;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: black;
}

.info-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.info-container .contact-infor {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.info-container .contact-infor .info-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.info-container .contact-infor .info-box .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  justify-content: center;
  align-items: center;
}

.info-container .contact-infor .info-box .icon i {
  margin-left: 1.5rem;
  margin-top: 1.4rem;
}

.info-container .contact-infor .info-box .text {
  margin-left: 1rem;
}

.contactform-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.contactform-container h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contactform-container .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform-container .input-box input, .contactform-container .input-box textarea {
  width: 100%;
  padding: 5px 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo-container {
  width: 40vw;
  justify-self: end;
}

.logo-container img {
  width: 100%;
}

nav {
  position: relative;
}

nav::after {
  content: "";
  display: block;
  width: 100vw;
  height: 3px;
  background-color: #0097A7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-item {
  font-family: serif;
}

.navbar-toggler {
  cursor: pointer;
  border: none;
}

.top-image {
  background: url(../src/back-image4.jpg);
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
  /*ブラー効果でボヤけた部分を非表示*/
}

/*:beforeにぼかし効果を設定する*/
.top-image:before {
  content: '';
  background: inherit;
  /*.bgImageで設定した背景画像を継承する*/
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  /*重なり順序を一番下にしておく*/
}

.message-box {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.link-box {
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: .5rem .5rem;
  margin-top: 1rem;
}

.link-box:hover {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    margin: 0 0 0 auto;
  }
  .nav-item {
    margin-left: 2rem;
  }
}

footer {
  font-family: serif;
  width: 100vw;
  display: block;
  overflow: hidden;
  padding-top: 30px;
  background-color: #18181a;
  margin: 0 auto;
}

footer .inner_footer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  height: 100%;
  color: lightgray;
  padding: 0 2rem;
}

footer .inner_footer .logo-container {
  width: 35%;
  height: 100%;
}

footer .inner_footer .logo-container img {
  width: 60px;
  height: auto;
}

footer .inner_footer .footer-contents {
  color: lightgray;
}

footer .inner_footer .footer-contents h3 {
  font-size: 1.8rem;
}

footer .inner_footer .footer-contents ul {
  display: inline-flex;
  list-style: none;
}

footer .inner_footer .footer-contents ul li {
  margin-left: 2rem;
}

footer .footer-bottom {
  color: lightgray;
  background: black;
  text-align: center;
}

footer .footer-bottom p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  footer .inner_footer {
    grid-template-columns: 1fr 1fr;
  }
  footer .inner_footer .footer-inside {
    margin: 0 auto;
  }
}
