@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');


//------------- TITLE DETAILS ----------------//

.about-container {
  font-family: serif;
  text-align: center;
  overflow: hidden;
  .about-title {
    text-align: center;
    padding: 30px;
    background-color: black;
    // position: fixed;
  }
  .about-title h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
  }
}


//------------- CAREER Summary&TOP----------------//

.profile-title{
  margin: 2rem 2rem;
  padding-bottom: 1rem;
  position: relative;
  h3{
    color: $lightGrey;
    font-size: 1.2rem;
    font-family: 'Cinzel', serif;
  }
  h3::after{
    content:"";
    display:block;
    width:80px;
    height:5px;
    background-color:#66D15A;
    position:absolute;
    bottom:0;
    left:5px;
  }
}

.profile-container {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .profile-inside-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
    width: 90%;
    margin: 0 auto;
  }
}

.profile-detail{
  align-items: center;
  justify-content: center;
  .wf-sawarabigothic {
    font-family: "Sawarabi Gothic";
  }
  h1{
    margin-bottom: 1rem;
    padding: 5rem 0;
    color: white;
    font-weight: 900;
    font-size: 4rem;
  }
  p{
    padding: .5rem .5rem;
    color: white;
    margin: 1rem auto;
    padding: 2rem 0;
    width: 80%;
  }
  .career-link{/*階層が深すぎるので、浅くしました*/
    background-color: #66D15A;
    // color: $link-color;/* BootstrapのSassが呼ばれていたので、同じ変数名を利用し、文字色スタイルの上書きをしています */
    color:white;
    transition: all 300ms;
    padding: 1rem;
    box-shadow: 3px 3px 7px hsla(198, 0%, 20%, 0.3);
    border-radius: 3px;
    font-size: 1.2rem;
  }
  .career-link:hover{
    text-decoration: none;
    background-color: rgb(161, 31, 31);
  }
}

.image-relation {
  display: grid;
  grid-template-columns: 1fr;
  img{
    margin: 0 auto;
    padding-left: 4rem;
  }
}


//------------- SERVICE DETAILS ----------------//

.service-title {
  color: rgb(13,44,63);
  background-color: $grey;
  padding: 5rem 0 1rem 2rem;
  margin-bottom: 0;
  font-weight: 600;
  position: relative;
}

.service-title::after{
  content:"";
  display:block;
  width:80px;
  height:5px;
  background-color:#66D15A;
  position:absolute;
  bottom:0;
  left:2.5rem;
}

.services-container{
  padding: 3rem 0;
  background-color: $grey;
  .service{
    // border: solid 1px white;
    text-align: center;
    padding: 0 1rem;
    width: 80%;
    margin: 1rem auto;
    // background-color: $grey;
    background-color: white;
    .icon{
      width: 60%;
      margin: 0 auto;
    }
  }
  .fas {
    font-size: 4rem;
    color: #CF382A;
    padding: 2rem 1rem;
  }
  .service-detail{
    padding: 1rem 2rem;
  }
  h3, p{
    color: grey
  }
}

//------------- RELATIONSHIP----------------//

.relationship-container{
  margin-right: 5rem;
  background: white;
  width: 100%;
  .relationship-title{
    color: rgb(13,44,63);
    padding: 2rem 0 1rem 2rem;
    margin-bottom: 0;
    font-weight: 600;
    position: relative;
  }
  p{
    padding: 1rem 0 1rem 2rem;
  }
  .relationship-title::after{
    content:"";
    display:block;
    width:80px;
    height:5px;
    background-color:#66D15A;
    position:absolute;
    bottom:0;
    left:2.5rem;
  }
}

//------------- CAREER DETAILS ----------------//
.career-container{
  padding: 3rem auto;
}

.career-container {
  justify-content: center;
  background-color: #EEF2F4;
  .career-container-detail{
    text-align: center;
    color:$lightGrey;
    width: 60%;
    margin: 3rem auto;
    h3{
      font-size: 1.5rem;
      margin: 1rem auto;
      color: black;
      text-align: left;
    }
    p {
      text-align: left;
    }
    .link-container{
      width: 20rem;
      border: black solid 2px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 300ms;
      box-shadow: 5px 5px 7px rgba(51, 51, 51, 0.3);
      a{
        margin: 1rem auto;
        text-decoration: none;
        text-align: left;
        color: black;
      }
    }
    .link-container:hover{
      text-decoration: none;
      cursor: pointer;
      color: white;
    }
  }
}

//----------BOOK DETAIL--------------//
.book-container{
  height: 30rem;
  background-image: url('../src/pen-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  h3{
    background-color: #66D15A;
    height: 3rem;
    align-self: center;
  }
}

.book-detail{
  padding-left: 1rem;
  .book{
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
  }
  p{
    margin-bottom: 0;
  }
  .book-link{
    display: block;
    width: 6rem;
    height: auto;
  }
}

//----------------MEDIA QUERY--------------------//

@media screen and (min-width: 768px) {
  .profile-container {
    .profile-inside-box{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 2rem 1rem;
    .service{
      width: 100%;
      margin: 1rem auto;
    }
  }
}

@media screen and (min-width: 320px) {
  .profile-container{
    .profile-inside-box{
      display: grid;
      grid-template-columns: 1fr;
      padding: 10rem 1rem;
      width: 100%;
      text-align: center;
    }
  }

  .profile-detail{
    margin: 2rem auto;
  }
}