$blue-color: #4D76A4;
$darkblue: #12172b;
$lightGrey: rgb(134,134,134);
$lightpink:#F5D9DB;
$yellow: #DEB038;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-line {
  display: block;
  margin: auto;
  width: 10rem;
  height: 3px;
  background: #3498db;
}

//------------- TITLE DETAILS ----------------//

.about-container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
  .about-title {
    text-align: center;
    padding: 30px;
    background-color: black;
    // position: fixed;
  }
  .about-title h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
  }

}

//------------- CAREER DETAILS ----------------//

.profile-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  padding: 2rem 1rem;
  width: 90%;
  margin: 3rem auto;
  .photo-container {
    img {
      width: 12rem;
      height: 12rem;
      border-radius: 100px;
      background-color: black;
    }
  }
  .profile-detail{
    align-items: center;
    justify-content: center;
    p{
      background-color: #F5F5F5;
      color: $lightGrey;
      width: 70%;
      margin: 0 auto;
    }
  }

}

.image-relation {
  display: grid;
  grid-template-columns: 1fr;
  // background-image: url(/src/image-relation.png);
  img{
    margin: 0 auto;
    padding-left: 4rem;

  }
}


//------------- SERVICE DETAILS ----------------//

.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  // background: lightblue;
  margin: 2rem 1rem;
  .service{
    border: solid 1px lightgray;
    border-radius: 10px;
  }
  .fas {
    font-size: 4rem;
    color: #CF382A;
    padding: 2rem 1rem;
  }
  .service-detail{
    padding: 1rem 2rem;
  }
  h3, p{
    color: grey
  }
}

//------------- CAREER DETAILS ----------------//
.career-container {
  padding-top: 2rem;
  text-align: center;
  justify-content: center;
  color: $lightGrey;
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
  }
  h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
  }
  p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 2rem;
  }
}

