@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.contact-body{
  background-image: url(../src/moyou1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  // overflow: hidden;
}

// ----------Whole AREA& TITLE----------- //
.contact{
  min-height: 100vh;
  padding: 20px 100px;
  background-size: cover;
  .content{
    max-width: 800px;
    h2{
      font-size: 36px;
      font-weight: 500;
      color: black;
    }
  }
}
// -------------ADDRESS AREA-------------- //
.info-container {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .contact-infor{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .info-box{
      position: relative;
      padding: 20px 0;
      display: flex;
      margin: 0 auto;
      .icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        margin-left: 10px;
        i{
          margin-left: 1.5rem;
          margin-top: 1.4rem;
        }
      }
      .text {
        margin-left: 1rem;
        text-align: center;
      }
    }
  }
}

// -------------FORM AREA-------------- //
.contactform-container{
  background: white;
  // width: 80%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
    input, textarea{
      width: 100%;
      padding: 5px 0;
    }
  }
}

.submit {
  background-color: #078080;
}

@media screen and (min-width: 768px) {
  .info-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    .info-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      h3{
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .contact {
    overflow: hidden;
  }
  .info-container {
    .info-box{
      flex-direction: column;
      align-items: center;
      h3{
        text-align: center;
      }
    }
  }
}