@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');

.carousel {
  overflow: scroll;
}

.carousel-contaner{
  overflow: scroll;
}

.top-title{
  background-color: $mainbackground;
  height: 15vh;
  text-align: center;
  align-self: center;
  justify-self: center;
  box-shadow: 2px 0 grey;
  h1 {
    color: white;
    padding: 1rem 0;
  }
}

.sub-title{
  text-align: center;
  padding: 2rem 3rem;
  h2{
    font-weight: 900;
  }
  p{
    color: $lightGrey;
  }
}

.carousel-item-works{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .cards{
    width: 50%;
  }
}

.card{
  margin-bottom: 10rem;
  border-radius: 5px;
  height: 460px;
  .card-body{
    border-top: solid .1px lightgray;
    .card-title{
      font-size: 20px;
    }

    .date-panel{
      width: 7rem;
      height: auto;
      background-color: #F45D48;
      border: none;
      color: white;
      border-radius: 3px;
      padding: .3rem 1rem;
      font-size: 13px;
      margin-left: 5px;
      text-align: center;
    }
    .card-text{
      color: $lightGrey;
    }
    .btn{
      width: 5rem;
      height: auto;
      background-color: #078080;
      // background-color: rgba($color: black, $alpha: 0.4);
      color: white;
      padding: .5rem .5rem;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
    .btn:hover{
      text-decoration: none;
      background-color: #066969;
    }
  }
}

