* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


.logo-container{
  width: 40vw;
  justify-self:end;
  img{
    width:100%;
  }
}

//--------------NAV BAR--------------------//

nav{
  position: relative;
  -webkit-box-shadow: 1px 10px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.75);
}

.nav-bar-index{
  background-color: #18181a;
}

.nav-item{
  font-family: serif;
}

.navbar-toggler{
  cursor: pointer;
  border: none;
}

.message-box {
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: left;
  h1{
    font-family: 'Crimson Text', serif;
    font-size: 7rem;
    margin-bottom: 2rem;
  }
}

.link-box {
  width: 4rem;
  height: 4rem;
  color: white;
  padding: .5rem .5rem;
  margin-top: 1rem;
  border-bottom-width: thin 1px white;
}

.link-box:hover{
  color: black;
  text-decoration: none;
  background-color: rgba($color: white, $alpha: 0.6);
}


@media screen and (min-width: 320px) {
  .message-box {
    top: 40%;
    left: 50%;
    h1{
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .message-box {
    top: 60%;
    left: 50%;
  }
  .message-box h1{
      font-size: 5rem;
  }
}

