* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


.logo-container{
  width: 40vw;
  justify-self:end;
  img{
    width:100%;
  }
}

//--------------NAV BAR--------------------//

nav{
  position: relative;
  -webkit-box-shadow: 1px 10px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.75);
}

.nav-bar-index{
  background-color: #18181a;
}

.nav-item{
  font-family: serif;
}

.navbar-toggler{
  cursor: pointer;
  border: none;
}

//--------------Carousel --------------------//
.carousel-img{
  position: relative;

}

.carousel-item{
  img{
    height: 90vh;
  }
}

.carousel-caption{
  position: absolute;
  top: 30%;
  .display-2 {
    font-family: 'Crimson Text', serif;
  }
  .top-button{
    font-family: 'Crimson Text', serif;
    color: white;
    border: none;
  }
}

@media screen and (min-width: 280px) {



  .carousel-caption{
    top: 15%;
    .display-2 {
      font-size: 1rem;;
    }
    .top-button{
      font-size: small;
    }
  }
}

@media screen and (min-width: 320px) {

  .nav-logo{
    width: 150px;
  }
  .carousel-caption{
    top: 30%;
    .display-2 {
      font-size: 2rem;;
    }
    .top-button{
      font-size: small;
    }
  }

}

@media screen and (min-width: 410px) {
  .carousel-caption{
    top: 24%;
    .display-2 {
      font-size: 2.7rem;;
    }
    .top-button{
      font-size: medium;
    }
  }

}

@media screen and (min-width: 576px) {
  .carousel-caption{
    top: 20%;
    .display-2 {
      font-size: 4.3rem;;
    }
    .top-button{
      font-size: larger;
    }
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption{
    top: 25%;
    .display-2 {
      font-size: 5rem;;
    }
    .top-button{
      font-size: x-large;
    }
  }
}

