* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo-container{
  width: 40vw;
  justify-self:end;
  img{
    width:100%;
  }
}

//--------------NAV BAR--------------------//
.navbar-toggler{
  cursor: pointer;
}

//--------------BACKGROUND IMAGE --------------------//

.top-image{
  background: url(../src/back-image4.jpg);
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 100vh;
  z-index: -100;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}

/*:beforeにぼかし効果を設定する*/
.top-image:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}

.message-box {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

.link-box {
  width: 4rem;
  height: 4rem;
  background-color: #125FDF;
  color: white;
  // text-decoration: none;
  border-radius: 10px;
  padding: .5rem .5rem;
}

.link-box:hover{
  color: white;
  text-decoration: none;
  background-color: #7394ca;
}

@media screen and (min-width: 320px) {//320px-767px

}


@media screen and (min-width: 768px) {
  .navbar-nav {
    margin: 0 0 0 auto;
  }
  .nav-item{
    margin-left: 2rem;
  }

}

