$bluecolor: #4D76A4;
$lightblue: #3498db;
$darkblue: #12172b;
$lightGrey: rgb(134,134,134);
$grey:#EEF2F4;
$mainbackground: #18181a;
$lightpink:#F5D9DB;
$yellow: #DEB038;
$link-color: #ffffff;/* BootstrapのSassが呼ばれていたので、同じ変数名を利用し、文字色スタイルの上書きをしています */
$color: #000000;
$alpha: 0.3;