@import 'about';
@import 'main';
@import 'mediaquery';


/******************  TOP PAGE **********************/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo-container img{
  width:10rem;

}

nav {
  display: flex;
  justify-content: space-around;
  background: black;
  height: 13vh;
  align-items: center;
}

.nav-links{
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  margin-left: auto;
}

.nav-link{
  color: white;
  a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
  }
}

.burger {
  display: none;
  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
}

.top-image{
  background: url(../src/back-image4.jpg);
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 100vh;
  z-index: -100;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}

/*:beforeにぼかし効果を設定する*/
.top-image:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}

.message-box {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

